body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(image/achtergrond_roze.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}

li button {
    border-radius: 1em;
    background-color: aliceblue;
    border-color: deeppink;
    border-width: 0.5em;

}

nav ul {
    list-style: none;
    display: flex;
    padding: 2em;
}

header p {
    display: flex;
    margin-left: 2em;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#button {
    margin-left: 35em;
    margin-top: 25em;
    padding: 1em 2em;
    margin-right: 20em;
    background-color: aliceblue;
    border-radius: 2em;
    border-color: deeppink;
    border-style: groove;
    border-width: 1em;

}


#imageMenuToppings,
#imageMenuGlazuur {
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin: 4em;
    padding: 1em;

}

#imageMenuGlazuur {
    max-width: 25%;
    margin: 3em;
}

.plaatjes {
    display: flex;
    position: absolute;

}

#imageMenuGlazuur {
    position: absolute;
}


#taartafbeelding {
    display: flex;
    justify-content: center;
    max-width: 100%;
    position: absolute;
    margin-left: 3em;

}

#imageStack {
    position: relative;
}

#imageStack img {
    position: absolute;
    margin-left: 3.3em;
    margin-top: 0.3em;
    display: none;
}

.show {
    display: block !important;
}

.kaarsjes {
    margin-left: 9em;
    margin-bottom: 15em;
    max-height: 25.5%;
}

.confetti {
    margin-left: -3.5em;
    margin-top: -16em;
}

.versiering {
    border: 1em;
    height: 30em;
    border-radius: 5em;
    border-color: blueviolet;
    background-color: aliceblue;
    margin-left: 2em;

}

#imageMenuToppings {
    display: flex;

}